#################
## log-files
#################
*.log

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

#############
## Python
#############
*.py[co]

#########################
## STORM4 specific files
########################
cam_offsets_1.txt
cam_offsets_2.txt
cam_offsets_3.txt